/* MAIN */

.home {
    background-image: url(../public/img/Gimnasio.png);
    background-repeat: no-repeat;
    background-position: center;
    

    h1 {
        color: map-get($colours, secondary);
        text-shadow: 0 0 10px map-get($colours, tertiary);
        text-align: center;
        max-width: 900px;
        font-size: 13rem;
        margin: 40px auto 0px auto;
    }
}

.h1,
h1 {
    font-size: 15rem;
}

#nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "titulo1 titulo1"
        "parrafo1 imagen1";
    gap: 0px;
    align-items: center;
    justify-items: center;
    padding-bottom: 150px;

    .titulo1 {
        grid-area: titulo1;
    }
    
    .parrafo1 {
        grid-area: parrafo1;
    }
    
    .imagen1 {
        grid-area: imagen1;
    }
    
    h2 {
        font-size: 10rem;
        text-align: center;
        padding: 10px;
    }
    
    p {
        font-size: 3.2rem;
        text-align: center;
        padding: 40px;
    }
}

#servicios {
    #membresias {
        font-size: 10rem;
        text-align: center;
        padding: 75px 10px;
    }

    #tMembresias {
        margin: 0 auto;    
    }

    th, td {
        padding: 30px;
        font-size: 3rem;
    }

    .tablaMembresias {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto 50px auto 100px auto;

        #tMembresias{
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        
        #b1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        
        #b2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        
        #b3 {
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 4;
            grid-row-end: 5;
        }
        
        #b4 {
            grid-column-start: 4;
            grid-column-end: 5;
            grid-row-start: 4;
            grid-row-end: 5;
        }

        #bMembresia{
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        #b5 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 2;
            grid-row-end: 3;
        }

        #busqueda {
            grid-column-start: 1;
            grid-column-end: 5;
            grid-row-start: 3;
            grid-row-end: 4;
        }
    }
    
    #serviciosPersonalizados {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "titulo2 titulo2"
            "lista1 lista1"
            "parrafo2 imagen2";
        align-items: center;
        justify-items: center;
        padding-bottom: 250px;

        #personalizados {
            grid-area: titulo2;
            font-size: 10rem;
            text-align: center;
        }
        
        .lista1 {
            grid-area: lista1;
        }
        
        .parrafo2 {
            grid-area: parrafo2;
        }
        
        .imagen2 {
            grid-area: imagen2;
        }

        p {
            font-size: 3.2rem;
            text-align: center;
            padding: 40px;
        }

        ol {
            font-size: 6rem;
            text-align: center;
        }
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 991px) {
    .home {
        h1 {
            font-size: 10rem;
        }
    }
}

@media screen and (max-width: 768px) {
    #nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "titulo1"
            "parrafo1"
            "imagen1";
        gap: 0;
        padding-bottom: 0;

        h2 {
            font-size: 6rem;
        }
    
        p {
            font-size: 2rem;
        }
    }

    #servicios {
        #membresias {
            font-size: 6rem;
        }

        .tablaMembresias {
            font-size: 2rem;
        }
        
        #serviciosPersonalizados {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);
            grid-template-areas:
                "titulo2"
                "lista1"
                "imagen2"
                "parrafo2";
            gap: 0;
            padding-bottom: 50px;
            
            #personalizados {
                font-size: 6rem;
            }
        
            ol {
                font-size: 3rem;
            }
        
            p {
                font-size: 2rem;
            }
        }
    }

    .h1,
    h1 {
        font-size: 10rem;
    }
}

@media screen and (max-width: 500px) {
    .home {
        h1 {
            font-size: 6rem;
        }
    }

    #nosotros {
        h2 {
            font-size: 3rem;
        }
    
        p {
            font-size: 1rem;
        }
        
        img {
            width: 200px;
            height: 170px;
        }
    }

    #servicios {
        .tablaMembresias {
            font-size: 1rem;
        }

        #membresias {
            font-size: 3rem;
        }

        #serviciosPersonalizados {
            #personalizados {
                font-size: 3rem;
            }
        
            ol {
                font-size: 1.5rem;
            }
        
            p {
                font-size: 1rem;
            }
        }

        img {
            width: 200px;
            height: 170px;
        }
    }

    .h1,
    h1 {
        font-size: 5rem;
    }
}